/* Created by: Niko
* Created on: april 2024
* This file contains the CSS for index.html
*/

body {
  background-color: #e2e38c;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  text-align: center;
}

h1 {
  font: 20pt Arial;
  font-weight: bold;
  line-height: 20pt;
  color: black;
  padding: 20px;
  margin-left: 600px;
  margin-right: 600px;
  background-color: #e1dbdb;
}

h3 {
  font: 12pt Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 16pt;
  color: #583213;
}

div {
  font-weight: bold;
  color: #000000;
  margin: 5px;
  background-color: #ebecac;
  margin-left: 700px;
  margin-right: 700px;
}
